In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import numpy as np

In [2]:
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

### Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
Rank, Name, Artist,Upload date, views

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [6]:
tableContainer=driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']")
tableContainer=tableContainer.find_elements_by_xpath(".//tbody/tr")

In [7]:
def getVideoDetails(tableRoww):
    try:
        tdItems=tableRoww.find_elements_by_xpath(".//td")
        rank=tdItems[0].text.strip(".")

        videoName=tdItems[1].text
        artist=tdItems[2].text
        views=tdItems[3].text
        uploadDat=tdItems[4].text


        

    except NoSuchElementException:
        rank="_"
        videoName="_"
        artist="_"
        views="_"
        uploadDat="_"
   
       
    
    return(rank,videoName,artist,views,uploadDat)

In [9]:


rankLst=[]
nameLst=[]
artistLst=[]
viewLst=[]
uploadDateLst=[]

for tableRoww in tableContainer:
    (rank,videoName,artist,views,uploadDat)=getVideoDetails(tableRoww)

    rankLst.append(rank)
    nameLst.append(videoName)
    artistLst.append(artist)
    viewLst.append(views)
    uploadDateLst.append(uploadDat)

In [10]:

videosDF=pd.DataFrame()
videosDF['Rank']=rankLst
videosDF['video Name']=nameLst
videosDF['Artist']=artistLst
videosDF['views']=viewLst
videosDF['uploadDate']=uploadDateLst



videosDF['index']=list(range(1,len(rankLst)+1))
videosDF.set_index('index',inplace=True)
videosDF

,Rank,video Name,Artist,views,uploadDate
index,,,,,
1,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.53,"June 17, 2016"
2,2,"""Despacito""[25]",Luis Fonsi,7.59,"January 12, 2017"
3,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.82,"October 8, 2016"
4,4,"""Shape of You""[27]",Ed Sheeran,5.50,"January 30, 2017"
5,5,"""See You Again""[28]",Wiz Khalifa,5.30,"April 6, 2015"
6,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.57,"May 2, 2018"
7,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.52,"February 27, 2018"
8,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
9,9,"""Uptown Funk""[34]",Mark Ronson,4.34,"November 19, 2014"
10,10,"""Phonics Song with Two Words""[35]",ChuChu TV,4.25,"March 6, 2014"
11,11,"""Gangnam Style""[36]",Psy,4.23,"July 15, 2012"
12,12,"""Dame Tu Cosita""[38]",El Chombo,3.66,"April 5, 2018"
13,13,"""Sugar""[39]",Maroon 5,3.57,"January 14, 2015"
14,14,"""Sorry""[40]",Justin Bieber,3.48,"October 22, 2015"
15,15,"""Roar""[41]",Katy Perry,3.45,"September 5, 2013"
16,16,"""Counting Stars""[42]",OneRepublic,3.42,"May 31, 2013"
17,17,"""Thinking Out Loud""[43]",Ed Sheeran,3.34,"October 7, 2014"
18,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.31,"May 24, 2018"
19,19,"""Faded""[45]",Alan Walker,3.16,"December 3, 2015"
20,20,"""Dark Horse""[46]",Katy Perry,3.16,"February 20, 2014"
21,21,"""Girls Like You""[47]",Maroon 5,3.15,"May 31, 2018"
22,22,"""Lean On""[48]",Major Lazer,3.11,"March 22, 2015"
23,23,"""Bailando""[49]",Enrique Iglesias,3.11,"April 11, 2014"
24,24,"""Shake It Off""[50]",Taylor Swift,3.11,"August 18, 2014"
25,25,"""Let Her Go""[51]",Passenger,3.10,"July 25, 2012"
26,26,"""Axel F""[52]",Crazy Frog,3.06,"June 16, 2009"
27,27,"""Mi Gente""[53]",J Balvin,2.99,"June 29, 2017"
28,28,"""Perfect""[54]",Ed Sheeran,2.99,"November 9, 2017"
29,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.97,"June 4, 2010"
30,30,"""Hello""[56]",Adele,2.90,"October 22, 2015"

### Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [11]:
driver.get("https://www.bcci.tv")

In [12]:

m=driver.find_element_by_xpath("//*[@class='navigation__link navigation__link--has-drop-down js-navigation-link']")
a = ActionChains(driver)
#hover the mouse
a.move_to_element(m).perform()

In [13]:
m=driver.find_element_by_xpath("//*[@href='/international/fixtures']")

In [14]:
m.click()

In [15]:
def getSeriesDetails(listItem):
    try:
        dateTimeCon=listItem.find_element_by_xpath(".//div[@class='fixture__datetime desktop-only']")
        day=dateTimeCon.find_element_by_xpath(".//span[@class='fixture__day']")
        day=day.text
        month=dateTimeCon.find_element_by_xpath(".//span[@class='fixture__month']")
        month=month.text
        date=dateTimeCon.find_element_by_xpath(".//span[@class='fixture__date']")
        date=date.text
        dateDay=day+" "+date+" " +month

    except:
        dateDay='-'       
    try:
        time=dateTimeCon.find_element_by_xpath(".//span[@class='fixture__time']")
        time=time.text

    except NoSuchElementException:
        time="-"
    try:
       
        Series=listItem.find_element_by_xpath(".//div[@class='fixture__teams']")
        Series=Series.text.replace("\n"," ")

    except:
        Series="-"
    try:
        matchPlace=listItem.find_element_by_xpath(".//p[@class='fixture__additional-info']")
        matchPlace=matchPlace.text.split("\n")
        match=matchPlace[0]
        place=matchPlace[1]

    except:
        match="-"
        place="_"          
    
    return(dateDay,time,Series,match,place)

In [16]:

dateDayLst=[]
timeLst=[]
seriesLst=[]
matchLst=[]
placeLst=[]

listConta=driver.find_elements_by_xpath("//a[contains(@class,'js-match event-list__item')]")
for listItem in listConta:
    (dateDay,time,Series,match,place)=getSeriesDetails(listItem)

    dateDayLst.append(dateDay)
    timeLst.append(time)
    seriesLst.append(Series)
    matchLst.append(match)
    placeLst.append(place)

In [17]:

SeriesDF=pd.DataFrame()
SeriesDF['Match Title']=matchLst
SeriesDF['place']=placeLst
SeriesDF['date']=dateDayLst
SeriesDF['Time']=timeLst
SeriesDF['Series']=seriesLst



SeriesDF['index']=list(range(1,len(matchLst)+1))
SeriesDF.set_index('index',inplace=True)
SeriesDF

,Match Title,place,date,Time,Series
index,,,,,
1,Match 28,"Dubai International Stadium, Dubai",Sunday 31 OCTOBER,19:30 IST,INDIA v NEW ZEALAND
2,Match 33,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 03 NOVEMBER,19:30 IST,INDIA v AFGHANISTAN
3,Match 37,"Dubai International Stadium, Dubai",Friday 05 NOVEMBER,19:30 IST,INDIA v SCOTLAND
4,Match 42,"Dubai International Stadium, Dubai",Monday 08 NOVEMBER,19:30 IST,INDIA v NAMIBIA
5,1st T20I,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 NOVEMBER,-,INDIA v NEW ZEALAND
6,2nd T20I,"JSCA International Stadium Complex, Ranchi",Friday 19 NOVEMBER,-,INDIA v NEW ZEALAND
7,3rd T20I,"Eden Gardens, Kolkata",Sunday 21 NOVEMBER,-,INDIA v NEW ZEALAND
8,1st Test,"Green Park, Kanpur",Thursday 25 NOVEMBER,-,INDIA v NEW ZEALAND
9,2nd Test,"Wankhede Stadium, Mumbai",Friday 03 DECEMBER,-,INDIA v NEW ZEALAND
10,1st ODI,"Narendra Modi Stadium, Ahmedabad",Sunday 06 FEBRUARY,-,INDIA v WEST INDIES

### Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
A) Name
B) Description- From guru99 home page reach selenium exception handling page through code.

In [149]:
driver.get("https://www.guru99.com")
a = ActionChains(driver)

m=driver.find_elements_by_xpath("//*[@class='nav-drop-title-wrap']")
for i in m:
    if "Testing" in i.text:
        a.move_to_element(i).perform()
        i.click()
        listContainer=i.find_elements_by_xpath("//a[contains(@href,'selenium')]")
        for item in listContainer:
            print(item.text)
            if "selenium" in item.text.lower():
                item.click()
                break
        break

Selenium

In [153]:
try:
    m=driver.find_element_by_xpath("//*[@class='cb-close']")
    m.click()

except NoSuchElementException:
    pass
tableRows= driver.find_elements_by_xpath("//tr/td[@class='responsivetable']/a")
for row in tableRows:
    texts=row.get_attribute("title")

    #print(texts.lower())
    if "exception handling" in texts.lower():
        print(row.text)
        row.click()
        break

Tutorial

In [157]:
tableRows=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr")

In [158]:
def getExceptionDetails(tds):
    try:
        exceptionName=tds[0].text
        exceptionDesc=tds[1].text
    except NoSuchElementException:
        exceptionName="_"
        exceptionDesc="_"
   
       
    
    return(exceptionName,exceptionDesc)

In [159]:
    
exceptionNameLst=[]
exceptionDescLst=[]

for tableRow in tableRows:
    tdItems=tableRow.find_elements_by_xpath(".//td")
    if len(tdItems)>0:
        (exceptionName,exceptionDesc)=getExceptionDetails(tdItems)
        exceptionNameLst.append(exceptionName)
        exceptionDescLst.append(exceptionDesc)

In [161]:

exceptionDF=pd.DataFrame()
exceptionDF['Exception Name']=exceptionNameLst
exceptionDF['Exception Desc']=exceptionDescLst



exceptionDF['index']=list(range(1,len(exceptionNameLst)+1))
exceptionDF.set_index('index',inplace=True)
exceptionDF

,Exception Name,Exception Desc
index,,
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [66]:
driver.get("https://statisticstimes.com")

In [67]:
m=driver.find_elements_by_xpath("//*[@class='dropbtn']")
a = ActionChains(driver)

for i in m:
    if "Economy" in i.text:
        print(i.text)
        a.move_to_element(i).perform()
        i.click()
        links=driver.find_elements_by_xpath("//a[contains(@href,'economy')]")
        for link in links:
            if "India" in link.text:
                link.click()
                break
        break

Economy

In [68]:
divContainer=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']")
links=divContainer.find_elements_by_xpath(".//ul/li/a")
for link in links:
    if "GDP of Indian states" in link.text:
        link.click()
        break

In [97]:
divContainer=driver.find_element_by_xpath("//div[@id='table_id_wrapper']")

In [98]:
rows=divContainer.find_elements_by_xpath(".//tbody/tr[@role='row']")
len(rows)

33

In [99]:
getStateGDPDetails(rows[1])

('2', 'Tamil Nadu', '1,845,853', '1,630,208', '8.63%', '247.629')

In [100]:
def getStateGDPDetails(row):
    try:
        rank=row.find_element_by_xpath(".//td[@class='data1']").text

        state=row.find_element_by_xpath(".//td[@class='name']").text
        others=row.find_elements_by_xpath(".//td[@class='data']")

        gsdp19_20=others[0].text
        share=others[1].text
        gdp=others[2].text
        
        gsdp_18_19=row.find_element_by_xpath(".//td[@class='data sorting_1']").text

    except NoSuchElementException:
        rank="_"
        state="_"
        gsdp19_20="_"
        share="_"
        gdp="_"
        gsdp_18_19="_"
   
       
    
    return(rank,state,gsdp19_20,gsdp_18_19,share,gdp)

In [101]:

    
rankLst=[]
stateLst=[]
gsdp_19_20Lst=[]
gsdp_18_19_Lst=[]
shareLst=[]
gdpLst=[]

for row in rows:
    (rank,state,gsdp19_20,gsdp_18_19,share,gdp)=getStateGDPDetails(row)

    rankLst.append(rank)
    stateLst.append(state)
    gsdp_19_20Lst.append(gsdp19_20)
    gsdp_18_19_Lst.append(gsdp_18_19)
    shareLst.append(share)
    gdpLst.append(gdp)

In [102]:

gdpDataIndia=pd.DataFrame()
gdpDataIndia['rank']=rankLst
gdpDataIndia['state']=stateLst
gdpDataIndia['GSDP _19-20']=gsdp_19_20Lst
gdpDataIndia['GSDP 18-19']=gsdp_18_19_Lst
gdpDataIndia['share']=shareLst
gdpDataIndia['GDP']=gdpLst




gdpDataIndia['index']=list(range(1,len(rankLst)+1))
gdpDataIndia.set_index('index',inplace=True)
gdpDataIndia

      rank                      state GSDP _19-20 GSDP 18-19   share      GDP
index
1        1                Maharashtra           -  2,632,792  13.94%  399.921
2        2                 Tamil Nadu   1,845,853  1,630,208   8.63%  247.629
3        3              Uttar Pradesh   1,687,818  1,584,764   8.39%  240.726
4        4                    Gujarat           -  1,502,899   7.96%  228.290
5        5                  Karnataka   1,631,977  1,493,127   7.91%  226.806
6        6                West Bengal   1,253,832  1,089,898   5.77%  165.556
7        7                  Rajasthan   1,020,989    942,586   4.99%  143.179
8        8             Andhra Pradesh     972,782    862,957   4.57%  131.083
9        9                  Telangana     969,604    861,031   4.56%  130.791
10      10             Madhya Pradesh     906,672    809,592   4.29%  122.977
11      11                     Kerala           -    781,653   4.14%  118.733
12      12                      Delhi     856,112    774,870   4.10%  117.703
13      13                    Haryana     831,610    734,163   3.89%  111.519
14      14                      Bihar     611,804    530,363   2.81%   80.562
15      15                     Punjab     574,760    526,376   2.79%   79.957
16      16                     Odisha     521,275    487,805   2.58%   74.098
17      17                      Assam           -    315,881   1.67%   47.982
18      18               Chhattisgarh     329,180    304,063   1.61%   46.187
19      19                  Jharkhand     328,598    297,204   1.57%   45.145
20      20                Uttarakhand           -    245,895   1.30%   37.351
21      21            Jammu & Kashmir           -    155,956   0.83%   23.690
22      22           Himachal Pradesh     165,472    153,845   0.81%   23.369
23      23                        Goa      80,449     73,170   0.39%   11.115
24      24                    Tripura      55,984     49,845   0.26%    7.571
25      25                 Chandigarh           -     42,114   0.22%    6.397
26      26                 Puducherry      38,253     34,433   0.18%    5.230
27      27                  Meghalaya      36,572     33,481   0.18%    5.086
28      28                     Sikkim      32,496     28,723   0.15%    4.363
29      29                    Manipur      31,790     27,870   0.15%    4.233
30      30                   Nagaland           -     27,283   0.14%    4.144
31      31          Arunachal Pradesh           -     24,603   0.13%    3.737
32      32                    Mizoram      26,503     22,287   0.12%    3.385
33      33  Andaman & Nicobar Islands           -          -       -        -

#### Scrape the details of trending repositories on Github.com.
Url = https://github.com/
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [74]:
driver.get("https://github.com/")
driver.implicitly_wait(15)

sumContainers=driver.find_elements_by_xpath("//li[contains(@class,'d-block')]")
                                            #d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center']")
for x in sumContainers:
    print(x.text)
    if x.text=='Explore':
        xx=x.find_element_by_xpath(".//summary[contains(@class,'HeaderMenu-summary')]")
        a = ActionChains(driver)
        #hover the mouse
        a.move_to_element(xx).perform()
        xx.click()
        #xx=xx.find_element_by_xpath(".//svg[@x='0px']")
        liItems=x.find_elements_by_xpath("//li[@class='edge-item-fix']/a")
        for item in liItems:
            print(item.text)
            if item.text=='Trending':
                print('hi')
                #a.move_to_element(item).perform()
                item.click()
                break
        break

Why GitHub?
Explore










Explore GitHub
Topics
Collections
Trending
hi

In [75]:
boxContainers=driver.find_elements_by_xpath("//article[@class='Box-row']")

In [76]:
boxContainer=boxContainers[0]

In [85]:
def getRepoDetails(listContainer):
    try:
        repoTitle=boxContainer.find_element_by_xpath(".//h1[@class='h3 lh-condensed']").text
    except:
        repoTitle='-'  
    try:
        repoDesc=boxContainer.find_element_by_xpath(".//p[@class='col-9 color-fg-muted my-1 pr-4']").text
    except:
        repoDesc='-'  
    try:
        lang=boxContainer.find_element_by_xpath(".//span[@itemprop='programmingLanguage']").text
    except:
        lang='-'  
    try:
        contributors=boxContainer.find_elements_by_xpath(".//a[@class='Link--muted d-inline-block mr-3']")[-1].text
    except:
        contributors='-'  


        

      
    return(repoTitle,repoDesc,lang,contributors)

In [86]:

repoTitleList=[]
repoDescList=[]
LangList=[]
contributorsList=[]

for boxContainer in boxContainers:
    (repoTitle,repoDesc,lang,contributors)=getRepoDetails(boxContainer)
    repoTitleList.append(repoTitle)
    repoDescList.append(repoDesc)
    LangList.append(lang)
    contributorsList.append(contributors)

In [87]:

reposDF=pd.DataFrame()
reposDF['title']=repoTitleList
reposDF['desc']=repoDescList
reposDF['lang']=LangList
reposDF['contributor']=contributorsList


reposDF['index']=list(range(1,len(repoTitleList)+1))
reposDF.set_index('index',inplace=True)
reposDF

,title,desc,lang,contributor
index,,,,
1,foxsen / archbase,教科书《计算机体系结构基础》（胡伟武等，第三版）的开源版本,TeX,27
2,ruanyf / weekly,科技爱好者周刊，每周五发布,-,"1,473"
3,sberbank-ai / ru-dalle,Generate images from texts. In Russian,Jupyter Notebook,33
4,MangoDB-io / MangoDB,A truly Open Source MongoDB alternative,Go,23
5,OpenIMSDK / Open-IM-Server,OpenIM：由前微信技术专家打造的基于 Go 实现的即时通讯（IM）项目，从服务端到客户端...,Go,457
6,Azure-Samples / container-apps-store-api-micro...,Sample microservices solution using Azure Cont...,Shell,32
7,deepmind / alphafold,Open source code for AlphaFold.,Python,"1,031"
8,microsoft / Data-Science-For-Beginners,"10 Weeks, 20 Lessons, Data Science for All!",Jupyter Notebook,797
9,microsoft / ML-For-Beginners,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",Jupyter Notebook,"5,057"
10,d2l-ai / d2l-zh,《动手学深度学习》：面向中文读者、能运行、可讨论。中英文版被全球200所大学采用教学。,Python,"6,439"
11,LaravelDaily / laravel-tips,Awesome tips for Laravel,-,636
12,home-assistant / core,🏡 Open source home automation that puts local ...,Python,"15,603"
13,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Python,"27,482"
14,sgoulas / pdpProject,A project that is part of my personal developm...,TypeScript,21
15,paritytech / polkadot,Polkadot Node Implementation,Rust,963
16,motor-admin / motor-admin,Deploy a no-code admin panel for your applicat...,Ruby,14
17,cosmos / cosmos-sdk,⛓️ A Framework for Building High Value Public ...,Go,"1,286"
18,Shopify / toxiproxy,⏰ 🔥 A TCP proxy to simulate network and system...,Go,326
19,darglein / ADOP,-,C++,69
20,nickboucher / trojan-source,Trojan Source: Invisible Vulnerabilities,SCSS,206
21,naganandy / graph-based-deep-learning-literature,links to conference publications in graph-base...,Jupyter Notebook,579
22,CesiumGS / cesium,An open-source JavaScript library for world-cl...,JavaScript,"2,681"
23,kenp-io / not-for-iphone-usb-c,-,-,19
24,Drunkmars / BypassUAC,By write list bypassuac,-,7
25,h5bp / Front-end-Developer-Interview-Questions,A list of helpful front-end related questions ...,Nunjucks,"10,055"

### Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [190]:
driver.get("https://www.billboard.com/")

In [191]:
divContainer=(driver.find_elements_by_xpath("//*[@class='header__main-menu__wrapper flex--grow']"))[-1]

aItem=divContainer.find_elements_by_xpath(".//ul/li/a")

for item in aItem:
    print(item.text)
    if "charts" in item.text.lower():
    #get_attribute("href").lower():
        print(item.text)
        a = ActionChains(driver)
        #hover the mouse
        a.move_to_element(item).perform()
        #item.click
        hotItems=item.find_elements_by_xpath("//a[@class='header__submenu__list__link']")
        print(len(hotItems))
        for hotItem in hotItems:
            if "hot 100" in hotItem.text.lower():
                print(hotItem.text)
                hotItem.click()
                break

        
        break

CHARTS
CHARTS
108
Hot 100

In [193]:
listContainers=driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']")

In [194]:
listContainer=listContainers[0]

In [203]:

listContainer.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--week']").text

'2'

In [207]:
def getSongDetails(listContainer):
    try:
       
        songName=listContainer.find_element_by_xpath(".//span[@class='chart-element__information__song text--truncate color--primary']").text

    except:
        songName='-'       
    try:
        artist=listContainer.find_element_by_xpath(".//span[@class='chart-element__information__artist text--truncate color--secondary']").text

    except NoSuchElementException:
        artist="-"
    try:
       
        lastWeekRank=listContainer.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--last']").text
    except:
        lastWeekRank="-"
    try:
        peakWeekRank=listContainer.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--peak']").text

    except:
        peakWeekRank="-"
    try:
        weeksOnchart=listContainer.find_element_by_xpath(".//div[@class='chart-element__meta text--center color--secondary text--week']").text

    except:
        weeksOnchart="-"
     
    return(songName,artist,lastWeekRank,peakWeekRank,weeksOnchart)

In [208]:
getSongDetails(listContainers[0])

('Easy On Me', 'Adele', '68', '1', '2')

In [209]:

songNameLst=[]
artistLst=[]
lastWeekRnkLst=[]
peakWeekRnkLst=[]
weekOnChartLst=[]

for listItem in listContainers:
    (songName,artist,lastWeekRank,peakWeekRank,weeksOnchart)=getSongDetails(listItem)
    songNameLst.append(songName)
    artistLst.append(artist)
    lastWeekRnkLst.append(lastWeekRank)
    peakWeekRnkLst.append(peakWeekRank)
    weekOnChartLst.append(weeksOnchart)

In [211]:

songsDF=pd.DataFrame()
songsDF['song']=songNameLst
songsDF['artist']=artistLst
songsDF['Last week rank']=lastWeekRnkLst
songsDF['peak week rank']=peakWeekRnkLst
songsDF['weeks on chart']=weekOnChartLst



songsDF['index']=list(range(1,len(lastWeekRnkLst)+1))
songsDF.set_index('index',inplace=True)
songsDF

,song,artist,Last week rank,peak week rank,weeks on chart
index,,,,,
1,Easy On Me,Adele,68,1,2
2,Stay,The Kid LAROI & Justin Bieber,2,1,15
3,Industry Baby,Lil Nas X & Jack Harlow,1,1,13
4,Fancy Like,Walker Hayes,3,3,18
5,Bad Habits,Ed Sheeran,4,2,17
...,...,...,...,...,...
96,Who's In Your Head,Jonas Brothers,95,95,2
97,Woo Baby,Pop Smoke Featuring Chris Brown,92,64,3
98,Flocky Flocky,Don Toliver Featuring Travis Scott,53,53,2
99,Like A Lady,Lady A,90,90,2
100,Just About Over You,Priscilla Block,97,97,2

#### Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search.

In [259]:
driver=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

In [260]:
driver.get("https://www.naukri.com/")

In [264]:
aLinks=driver.find_elements_by_xpath("//ul[@class='midSec menu']/li/a")


for alink in aLinks:
    if "recruiters" in alink.text.lower():
        url=alink.get_attribute("href")
        driver.get(url)
        break

In [265]:
searchBox=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
#searchBox=driver.find_element_by_xpath("//input[@class='sugInp']")
searchBox.send_keys("Data Science")

In [266]:

search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [286]:
recInfos=driver.find_elements_by_xpath("//div[contains(@class,'fadeInUp')]")

In [282]:
def getHiringDetails(recInfo):
    try:
        name=recInfo.find_element_by_xpath(".//span[@class='fl ellipsis']").text
    
    except:
        name='-' 
    
    try:
        designation=recInfo.find_element_by_xpath(".//span[@class='ellipsis clr']").text
    
    except:
        designation='-' 
    try:
        company=recInfo.find_elements_by_xpath(".//a[@class='ellipsis']")[1].text
    
    except:
        company='-' 

    try:
        location=recInfo.find_element_by_xpath(".//small[@class='ellipsis']").text
    
    except:
        location='-' 

    try:
        skills=recInfo.find_element_by_xpath(".//div[@class='hireSec highlightable']").text    
    except:
        skills='-' 

     
    return(name, designation, company, location,skills)

In [287]:

nameLst=[]
designationLst=[]
companyLst=[]
locationLst=[]
skillsLst=[]

for recInfo in recInfos:
    (name, designation, company, location,skills)=getHiringDetails(recInfo)
    nameLst.append(name)
    designationLst.append(designation)
    companyLst.append(company)
    locationLst.append(location)
    skillsLst.append(skills)

In [288]:
        
companies=pd.DataFrame({})
companies['Name']=nameLst
companies['Designation']=designationLst
companies['company']=companyLst
companies['location']=locationLst
companies['skills']=skillsLst







companies['index']=list(range(1,len(nameLst)+1))
companies.set_index('index',inplace=True)
companies

,Name,Designation,company,location,skills
index,,,,,
1,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
5,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
8,Narasimha,Company Recruiter,Step Next Private Limited,Hyderabad / Secunderabad,"Data Modeling, Data Wrangling, seaborn, eda, p..."
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
13,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
14,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
15,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
16,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
17,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,-,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
31,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
35,Radha Manivasagam,HR Executive,Techcovery,Bengaluru / Bangalore,"Python, Artificial Intelligence, Machine Learn..."
36,Prateek Kumar,Head,Trisect,Noida,"Java, Python, Angularjs, Software Testing, Mac..."
37,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
38,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
43,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
46,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
48,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
49,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
50,Amir Chowdhury,Managing Partner,Granular.ai,-,"Machine Learning, Data Science, Product Manage..."

Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import numpy as np
from selenium.common.exceptions import NoSuchElementException
driver=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

In [19]:
tbody

In [2]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
ms= driver.find_elements_by_xpath("*//tbody/tr")

In [90]:
m=ms[0]

In [4]:
bookNameList=[]
authorNameList=[]

volumesSoldList=[]
publisherList=[]
GenreList=[]
for m in ms :
    tds = m.find_elements_by_xpath(".//td")
    if len(tds)>0:
        bookNameList.append(tds[1].text)
        authorNameList.append(tds[2].text)
        volumesSoldList.append(tds[3].text)    
        publisherList.append(tds[4].text)    
        GenreList.append(tds[5].text)

In [5]:
        
booksDF=pd.DataFrame({})
booksDF['bookName']=bookNameList
booksDF['author']=authorNameList
booksDF['volumes']=volumesSoldList
booksDF['publisher']=publisherList
booksDF['Genre']=GenreList

booksDF['index']=list(range(1,len(bookNameList)+1))
booksDF.set_index('index',inplace=True)
booksDF

,bookName,author,volumes,publisher,Genre
index,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [6]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [7]:
itemContainers=driver.find_elements_by_xpath(".//div[@class='lister-item mode-detail']")

In [8]:
itemContainer=itemContainers[0]

In [23]:
def getMovieDetails(recInfo):
    try:
        name=itemContainer.find_element_by_xpath(".//h3[@class='lister-item-header']/a").text

    except:
        name='-'

    
    try:
        year=itemContainer.find_elements_by_xpath(".//h3[@class='lister-item-header']/span")[-1].text

    except:
        year='-'
    try:
        genre=itemContainer.find_element_by_xpath(".//span[@class='genre']").text

    except:
        genre='-'
    try:
        time=itemContainer.find_element_by_xpath(".//span[@class='runtime']").text

    except:
        time='-'
    try:
        rating=itemContainer.find_element_by_xpath(".//span[@class='ipl-rating-star__rating']").text

    except:
        rating='-'
    try:
        votes=itemContainer.find_element_by_xpath(".//span[@name='nv']").text

    except:
        votes='-'


 

     
    return(name, year,genre, time, rating,votes)

In [26]:

nameLst=[]
yearList=[]
genreList=[]
timeList=[]
ratingList=[]
votesList=[]


for itemContainer in itemContainers:
    (name, year,genre, time, rating,votes)=getMovieDetails(itemContainer)
    nameLst.append(name)
    yearList.append(year)
    genreList.append(genre)
    timeList.append(time)
    ratingList.append(rating)
    votesList.append(votes)

In [27]:

        
moviesDF=pd.DataFrame({})
moviesDF['name']=nameLst
moviesDF['year']=yearList
moviesDF['genre']=genreList
moviesDF['rating']=ratingList
moviesDF['votes']=votesList
moviesDF['time']=timeList






moviesDF['index']=list(range(1,len(timeList)+1))
moviesDF.set_index('index',inplace=True)
moviesDF

,name,year,genre,rating,votes,time
index,,,,,,
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"1,893,587",57 min
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"925,110",51 min
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,"909,866",44 min
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"272,273",60 min
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"232,646",43 min
...,...,...,...,...,...,...
96,Reign,(2013–2017),"Drama, Fantasy",7.5,"46,234",42 min
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"57,077",50 min
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8.1,"179,076",42 min
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"37,500",45 min
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"210,184",572 min

Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
from the home page go to the Show All Dataset page through code.

In [34]:
driver.get("https://archive.ics.uci.edu/")

In [36]:
#@/html/body/table[2]/tbody/tr/td/span/b/a
linkConta=driver.find_element_by_xpath("//table[2]/tbody/tr/td/span/b/a")
link=linkConta.get_attribute("href")
link

'https://archive.ics.uci.edu/ml/datasets.php'

In [37]:
driver.get(link)

In [59]:

tableRows=driver.find_elements_by_xpath("//html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr")
tableRows=tableRows[1:]

In [60]:
len(tableRows)

588

In [94]:
tableRow=tableRows[1]

In [91]:
#/p[@class='normal']
#/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]
dataType

'Adult'

In [104]:
def getDataSetDetails(propertyCard):
    try:
        datasetName=tableRow.find_element_by_xpath(".//td[1]").text.strip()
    except:
        datasetName='_'
    try:
        dataType=tableRow.find_element_by_xpath(".//td[2]").text.strip()
    except:
        dataType='_'
    try:
        task=tableRow.find_element_by_xpath(".//td[3]").text.strip()
    except:
        task='_'

    try:
        attributeType=tableRow.find_element_by_xpath(".//td[4]").text.strip()
    except:
        attributeType='_'
    try:
        instances=tableRow.find_element_by_xpath(".//td[5]").text.strip()
    except:
        instances='_'
    try:
        attributes=tableRow.find_element_by_xpath(".//td[6]").text.strip()
    except:
        attributes='_'
    try:
        year=tableRow.find_element_by_xpath(".//td[7]").text.strip()
    except:
        year='_'



        
    
    
    return (datasetName,dataType,task,attributeType,instances,attributes,year)

In [ ]:
datasetList=[]
dataTypeList=[]
taskList=[]
attributeTypeList=[]
instanceList=[]
attributesList=[]
yearList=[]



for tableRow in tableRows:

    (datasetName,dataType,task,attributeType,instances,attributes,year)=getDataSetDetails(tableRow)
    datasetList.append(datasetName)
    dataTypeList.append(dataType)
    taskList.append(task)
    attributeTypeList.append(attributeType)
    instanceList.append(instances)
    attributesList.append(attributes)
    yearList.append(year)

In [107]:
dataSetsDF=pd.DataFrame({})
dataSetsDF['DataSetName']=datasetList
dataSetsDF['datasetype']=dataTypeList

dataSetsDF['task']=taskList
dataSetsDF['attributeType']=attributeTypeList
dataSetsDF['instances']=instanceList

dataSetsDF['attributes']=attributesList

dataSetsDF['year']=yearList

In [108]:


dataSetsDF['index']=list(range(1,len(datasetList)+1))
dataSetsDF.set_index('index',inplace=True)
dataSetsDF

,DataSetName,datasetype,task,attributeType,instances,attributes,year
index,,,,,,,
1,Abalone,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Adult,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Annealing,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,in-vehicle coupon recommendation,Classification,,12684,23,2020
585,Gait Classification,Gait Classification,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Wikipedia Math Essentials,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Wikipedia Math Essentials,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Synchronous Machine Data Set,Regression,Real,557,5,2021